{% extends 'learning_logs/base.html' %}
{% load django_bootstrap5 %}

{% block header %}
    <h2>Log in to your account.</h2>
{% endblock header %}

{% block content %}

    <form action="{% url 'users:login' %}" method="post" class="needs-validation">
        {% csrf_token %}
        {% bootstrap_form form %}

        <div class="form-group">
        <button name="submit" class="btn btn-primary">log in</button>
        </div>
        
        <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
    </form>

{% endblock content %}